.img-section{
    margin-top: 3rem;
    margin-left: 30%;
    margin-right: 30%;
}
.img-section .img-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-section .img-area img{
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
}
.up-button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background:#999999;
    color: white;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}
.del-button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: #999999;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}
.profile-section{
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
}
.nickname{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.wrapper{
    display: flex;
}
.title-wrapper{
    width: 5.5rem;
    flex-shrink: 0;
}
.title-wrapper h3{
    line-height: 1.5;
    color: rgb(52, 58, 64);
    margin: 0px;
    font-size: 1.125rem;
}
.content-wrapper{
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}
.contents{
    flex: 1 1 0%;
    font-size: 1rem;
    color: rgb(73, 80, 87);
    line-height: 1.5;
}
.edit-wrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 1rem;
}
.fix-button{
    outline: none;
    padding: 0px;
    border: none;
    display: inline;
    font-size: 1rem;
    line-height: 1.5;
    color: #999999;
    text-decoration: underline;
    background: none;
    cursor: pointer;
}
.leave{
    border-top: 1px solid rgb(233, 236, 239);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.leave-button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: rgb(255, 107, 107);
    color: white;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}